---
- name: restart docker
  systemd:
    name: docker
    state: restarted
    daemon_reload: yes

- name: restart kubelet
  systemd:
    name: kubelet
    state: restarted
    daemon_reload: yes

- name: restart containerd
  systemd:
    name: containerd
    state: restarted
    daemon_reload: yes

