# Kubernetes cluster deployment tasks

- name: Clone or update it-dep repository
  git:
    repo: "{{ it_dep_repo }}"
    dest: "{{ it_dep_dir }}"
    version: "{{ it_dep_branch }}"
    force: yes
  tags: cluster
  when: not onap_successful

- name: Create ONAP namespace
  shell: |
    {{ kubectl_command }} create namespace {{ onap_namespace }}
  register: ns_result
  failed_when: ns_result.rc != 0 and 'AlreadyExists' not in ns_result.stderr
  changed_when: ns_result.rc == 0
  tags: cluster
