- name: Read secret name
  command: >
    yq '.smo.secrets[{{ smo_secret_index }}].name' {{ overrideyaml }}
  register: secret_name
  changed_when: false

- name: Read dependsOn field
  command: >
    yq '.smo.secrets[{{ smo_secret_index }}].dependsOn' {{ overrideyaml }}
  register: depends_on
  changed_when: false

- name: Check dependsOn value
  command: >
    yq '.{{ depends_on.stdout }}' {{ overrideyaml }}
  register: depends_on_value
  changed_when: false

- name: Skip secret copy if dependsOn is not true
  debug:
    msg: "{{ depends_on.stdout }} is not set to true. Skipping {{ secret_name.stdout }} copy..."
  when: depends_on_value.stdout != "true"

- name: Wait for secret to exist in onap namespace
  command: kubectl get secret {{ secret_name.stdout }} -n onap
  register: secret_check
  retries: 60
  delay: 10
  until: secret_check.rc == 0
  when: depends_on_value.stdout == "true"

- name: Copy secret from onap to smo namespace
  shell: |
    kubectl get secret {{ secret_name.stdout }} -n onap -o json \
    | jq 'del(.metadata["namespace","creationTimestamp","resourceVersion","selfLink","uid","ownerReferences"])' \
    | kubectl apply -n smo -f -
  when: depends_on_value.stdout == "true"

